body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(61, 43, 226);
    color: #fff;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
}

h1 {
    font-size: 24px;
}

button {
    background-color: #0077b6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.best-movie {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
}

.modal-content {
    background-color: #332651;
    margin: 10% auto;
    padding: 20px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
}

#modal-image {
    max-width: 100%;
    height: auto;
}

#movie-image {
    cursor: pointer;
}

.carousel {
    position: relative;
}

.carousel__item {
    float: left;
}

.carousel__container {
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
}

.carousel__container::after {
    content: '';
    clear: both;
    display: table;
}

.carousel__next, .carousel__prev {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fff;
    color: #000;
    background-size: 20px 20px;
    border-radius: 50%; 
    top: 50%;
    margin-top: -20px;
    right: -20px;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.carousel__next:hover, .carousel__prev:hover {
    transform: scale(1.2);
}

.carousel__prev {
    right: auto;
    left: -20px;
}
